<h1> I Can Edit</h1>

<%= form_for(@routine) do |f| %>
    
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :season %>
    <%= f.select(:season, options_for_select([ "Winter", "Summer"])) %>

    <%= f.label :step %>
    <%= f.select(:step, ["Cleanse", "Treat", "Hydrate", "Protect"]) %>


    <%= f.submit "Update" %>

    <% end %>
