<h1>All Routines</h1>


<% @routines.each do |routine| %>

  <!-- <a href="/routines/<%= routine.id %>"><%= routine.title %></a> -->
  <%= link_to routine.title, routine_path(routine) %> - 
  <%= routine.user.try(:username) %> -
  Product: <%= routine.product.try(:name) %>


  <br><br>

<% end %>













