<h1> Create A Routine!</h1>

<%= form_for(@routine) do |f| %>

    <%= render partial: 'layouts/errors', locals: {object: @routine} %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :season %>
        <%= f.select(:season, options_for_select([ "Winter", "Summer"])) %>
    </div>

    <div>
        <%= f.label :step %>
        <%= f.select(:step, ["Cleanse", "Treat", "Hydreate", "Protect"]) %>
    </div>

    <br></br>


    <p> <%= f.label :product_id, "Select a Product" %>
    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: true %>
    </p> 

    <br></br>
    <%= f.submit "Submit" %>

    <% end %>



    t.integer "product_id"
    t.integer "user_id"