<h1> Create A Routine!</h1>

<%= form_for(@routine) do |f| %>
    
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :season %>
    <%= f.select(:season, options_for_select([ "Winter", "Summer"])) %>

    <%= f.label :step %>
    <%= f.select(:step, ["Cleanse", "Treat", "Hydreate", "Protect"]) %>

    <br></br>

    <%= f.label :product_id, "Select a Product" %>
    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: true %>

    <br></br>
    <%= f.submit "Submit" %>

    <% end %>



