<h1> <%= current_user.username%>'s Routine</h1>

<br>
<h2><%= @routine.title %></h2>



<h3><%= @routine.season %> - <%= @routine.step %></h3>



<h4><%= @routine.product.name %></h4>


<h4><%= @routine.product.content %></h4>


<br>
<br>
<% if @routine.user == current_user %>
    <%= link_to "Edit Routine", edit_routine_path(@routine) %>  
    <%= button_to "Delete Routine", routine_path(@routine), method: :delete %>
<% end %>


<a href="/routines">Back</a>