<h1> <%= current_user.username%>'s Routine</h1>

<br>
<h2><%= @routine.title %></h2>



<h3><%= @routine.season %> - <%= @routine.step %></h3>


<div>
<h4><%= @routine.product.name %></h4>
</div>

<%= @routine.product.content %>

<div>
<% if @routine.user == current_user %>
    <%= link_to "Edit Routine", edit_routine_path(@routine) %>  
    <%= button_to "Delete Routine", routine_path(@routine), method: :delete %>
<% end %>
</div>

<a href="/routines">Back</a>