<!DOCTYPE html>
<html>
  <head>
    <title>SkincareRoutine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <div class="nav">

    <% if logged_in? %>
      <%= button_to 'Log Out', logout_path, method: :delete %>
      <%= link_to 'All Routines', routines_path %>
      <%= link_to 'Create New Routine', new_routine_path %>
      <%= link_to 'All Products', products_path %>
    <% else %>
      <%= button_to 'Sign Up With Google', '/auth/google_oauth2', method: :post %>

    <% end %>

    <br></br>
  </div>

  <%= yield %>
  </body>
</html>
