<!DOCTYPE html>
<html>
  <head>
    <title>SkincareRoutine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <nav class="navbar">

  <% if logged_in? %>
    <%= button_to 'Log Out', logout_path, method: :delete %>
    <%= button_to 'All Routines', routines_path %>
    <%= button_to 'Create New Routine', new_routine_path %>
    <%= button_to 'All Products', products_path %>
    </nav>
  <% end %> 

  <%= yield %>
  </body>
</html>
